<style>
   body{
    background-color: #85C1E9;
    color: #050340;
   }
   h1 {
    font-family: Helvetica;
   }
   label {
    font-family: Helvetica;
    font-size: medium;
   }
</style>
<title> Get Wall Data </title>
<div align="center">
  <h1> Welcome! Here you can get data on VK wallposts </h1>
  <form method="POST"> 
    <label> VK user: </label>
    <br><input type="text" name="user" value = {{user_text | safe}}>  <br><br>
    <label> Date in DD/MM/YYY format: </label>
    <br><input type="text" name="date" value = {{user_text | safe}}>  <br><br>
	<input type="checkbox" name=fields value="id" id="check1" checked><label for="check1">Post ID</label>
	<input type="checkbox" name=fields value="text" id="check2" checked><label for="check2">Post Text</label>
	<input type="checkbox" name=fields value="comments" id="check7" checked><label for="check7">Comments</label>
	<input type="checkbox" name=fields value="likes" id="check5" checked><label for="check5">Likes</label>
	<input type="checkbox" name=fields value="reposts" id="check6" checked><label for="check6">Reposts</label>
	<input type="checkbox" name=fields value="apps" id="check3" checked><label for="check3">Applications</label>
	<input type="checkbox" name=fields value="app_count" id="check4" checked><label for="check4">Application Count</label>
    <br><br><button type="submit" name="submit">Get Wall Data!</button>
  </form>

<img src="https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_VK-512.png">
</div>

