<style>
   body{
    background-color: #85C1E9;
    color: #050340;
   }
   h1 {
    font-family: Helvetica;
   }
</style>
<div align="center">
<h1>
	The wall data was successfully retrieved!
    <br><a href="/getcsv">Load CSV file</a>
	<br><a href="/plotyear">View stats per year</a>
	<br><a href="/plotmonth">View stats per month</a>
	<br><a href="/plotweekday">View stats per weekday</a>
	<br><a href="/plothour">View stats per hour</a>
	<br><a href="/">Return to the homepage</a>
</h1>

<img src="https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_VK-512.png">
</div>